# Use Python 3.11 for this environment.
tensorflow==2.16.2
mediapipe==0.10.14
keras==3.14.0
protobuf==4.25.9
numpy==1.26.4
pillow==12.2.0
imutils==0.5.4
matplotlib==3.10.8
opencv-contrib-python==4.11.0.86